<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Login</title>-->
<!--    <style>-->
<!--      body {-->
<!--        font-family: Arial, sans-serif;-->
<!--        background-color: #f2f2f2;-->
<!--      }-->
<!--      .login {-->
<!--        background-color: #fff;-->
<!--        border: 1px solid #ccc;-->
<!--        border-radius: 5px;-->
<!--        margin: 0 auto;-->
<!--        padding: 20px;-->
<!--        max-width: 400px;-->
<!--      }-->
<!--      input[type="text"],-->
<!--      input[type="password"] {-->
<!--        width: 100%;-->
<!--        padding: 12px 20px;-->
<!--        margin: 8px 0;-->
<!--        display: inline-block;-->
<!--        border: 1px solid #ccc;-->
<!--        border-radius: 4px;-->
<!--        box-sizing: border-box;-->
<!--      }-->
<!--      button {-->
<!--        background-color: #263e7a;-->
<!--        color: white;-->
<!--        padding: 14px 20px;-->
<!--        margin: 8px 0;-->
<!--        border: none;-->
<!--        border-radius: 4px;-->
<!--        cursor: pointer;-->
<!--        width: 100%;-->
<!--      }-->
<!--      button:hover {-->
<!--        background-color: #263e7a;-->
<!--      }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="login">-->
<!--    <h1>Keycloak Login</h1>-->
<!--    <form th:action="@{/login}" method="POST">-->
<!--        <label ><b>Username</b></label>-->
<!--        <input type="text" placeholder="Enter Username" name="username" required>-->

<!--        <label ><b>Password</b></label>-->
<!--        <input type="password" placeholder="Enter Password" name="password" required>-->

<!--        <button type="submit">Login</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!--<a href="/login/oauth2/authorization/keycloak">Keycloak</a>-->